# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create a Jupyter Notebook
* Create a markdown cell to list data science languages
* Create a markdown cell with a table of Data Science tools
* Create a code cell to multiply and add numbers
* Create a markdown cell to indicate the Author's name

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas

| Data Science Tools |
|---|
| Jupyter Notebook |
| RStudio |
| Anaconda Navigator |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Yung